/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Type */
body{
    font-family: 'Montserrat', sans-serif;
}

/* Commons */
.container{
    max-width: 1080px;
}

.big-container{
    max-width: 1300px;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

