/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Type */
body{
    /* position: relative; */
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}


h1{
    font-size: 55px;
}

h2{
    font-size: 30px;
}

h4{
    font-size: 20px;
}

h5{
    font-size: 15px;
}

p{
    font-size: 15px;
}

a{
    text-decoration: none;
    color: black;
}

hr{
    color: rgb(188, 199, 210);
    border: 1px solid;
    width: 20%;
}

/* Fontawesome */
.fa-check{
    color: #0061ff;
}

.fa-plus{
    font-size: 8px;
}

/* Commons */
.container{
    max-width: 1200px;
    margin: auto;
}

.small-container{
    max-width: 900px;
    margin: auto
}

.btn{
    padding: 8px 18px;
    border: none;
    cursor: pointer;
}

.btn-blu{
    background-color: #0061ff;
    color: white;
}

.btn-white{
    background-color: white;
    color: black;
    border: solid black;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* Header */
header{
    /* position: fixed; */
    width: 100%;
    line-height: 50px;
}

.logo{
    margin-top: 6px;
    margin-left: 15px;
}

.logo, .nav-left{
    float: left;
}

.nav-left{
    margin-left: 30px;
}

.nav-right{
    float: right;
}

nav ul li{
    display: inline-block;
    padding: 0 15px;
}
    
/* ------------MAIN------------ */


/* HERO */
.hero{
    background-color: #b4d0e7;
}

.row{
  position: relative;
  bottom: -65px;
}
.col-left, .col-right{
    float: left;
}

.col-left{
    width: 40%;
    padding-right: 70px;
}

.col-right{
    width: 60%;
    object-fit: contain;
}

.jumbo{
    width: 100%;
}

.fa-arrow-down, .fa-arrow-down{
    font-size: 50px;
    margin-top: 30px;
}

/* SECTION 2 */
.section-2{
    margin-top: 80px;
}

.radio{
    margin-top: 30px;
}

.row-2{
    margin-top: 40px;
}

.col-left-2, .col-middle-2, .col-right-2{
    float: left;
    width: calc(100% / 3 - 20px);
    min-height: 900px;
    border: solid rgb(188, 199, 210);
}

.col-middle-2{
    margin: 0 30px;
}

.top-col{
    text-align: center;
    padding: 5px;
    border-bottom: solid rgb(188, 199, 210);
}

.abbonamento ul li{
    display: inline-block;
    padding: 10px 10px;
}

.abbonamento{
    padding: 10px 10px;
}

.tipologia-abbonamento, .costo, .mese{
    margin: 10px 10px;
}

.link-acquista-ora{
    color:#0061ff ;
}

.acquista-ora, .punti-salienti{
    margin: 30px 10px; 
}

.prova-gratis{
    margin: 30px 30px;
}

/* section bottom */
.section-bottom{
    margin-top: 30px;
    border: solid rgb(188, 199, 210) ;
}
.row-top{
    text-align: center;
    padding: 5px;
    border-bottom: solid rgb(188, 199, 210);

}
.col-bottom-left-2{
    float: left;
}

.col-bottom-right-2{
    float: right;
}

.col-bottom-left-2{
    width: 70%;
}

.col-bottom-right-2{
    width: 30%;
}

.enterprise, .contatta{
    padding: 20px 10px;
}


/* SECTION 3 */
.section-3{
    margin-top: 80px;
}
.col-left-3, .col-right-3{
    float: left;
}

.col-right-3{
    width: calc(40% - 20px);
    margin: 50px 0;
    margin-left: 20px;
}

.col-left-3{
    width: calc(60% - 20px);
    margin: 20px 0;
    margin-right: 20px;
}

.partner{
    width: 100%;
}

.entra-in-contatto, .trova-partner{
    margin-bottom: 20px;
}

/* SECTION 4 */
.section-4{
    margin-top: 80px;
}
.row-top-4{
    margin-bottom: 40px;
}
.col-left-4, .col-middle-4, .col-right-4{
    width: calc(100% / 3 - 40px);
    float: left;
}

.col-middle-4{
   margin: 0 60px;
}

.img-6-col{
    width: 100%;
}

/* SECTION 5 */
.section-5{
    margin-top: 80px;
}

.scopri{
    text-decoration: underline;
    color:#0061ff ;
}

.row-section-square-color{
    width: 100vw;
    margin-top: 30px;
}

.col-color-left, .col-color-mid, .col-color-right{
    float: left;
}

.col-color-mid{
    width: 40vw;
    height: 30vw;
    overflow: auto;
    background-color:rgb(216, 225, 233);
}

.col-color-left, .col-color-right{
    width: 30vw;
}

.square{
    position: relative;
    float: left;
    width: calc(30vw / 2);
    height: calc(30vw / 2);
}

#asu, #clear, #designit, #hearst, #lonely, #radio, #topps, #uf, #world{
   width: 100px;
}

.designit, .asu, .uf, .world, .lonely, .clear-c, .topps, .hearst{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.green{
    background-color: lightgreen;
}

.maroon{
    background-color: maroon;
}

.skyblue{
    background-color: skyblue;
}

.red{
    background-color: red;
}

.tomato{
    background-color: tomato;
}

.lightskyblue{
    background-color: lightskyblue;
}

.navy{
    background-color: navy;
}

.yellow{
    background-color: yellow;
}

.contenent{
    width: 80%;
    padding: 50px 40px;
}

.designit-mid{
    width: 27%;
}

#designit-mid{
    width: 100%;
}

/* SECTION 6 */
.section-6{
    background-color:#b4d0e7 ;
}

.row-6{
    width: 100%;
}

.col-left-6, .col-right-6{
    float: left;
    width: 60%;
    padding-top: 80px;
    padding-bottom: 90px;
}

.col-left-6{
    color: rgb(77, 22, 77);
}

.col-right-6{
    width: 40%;
    text-align: right;
}

.col-right-6 > .btn{
    border: 0;
}

/* SECTION 7 */
.section-7{
    margin-top: 80px;
}

.section-7 > .small-container{
    line-height: 60px;
    
}

.section-7 > .small-container > h4{
    padding-bottom: 30px;
}

.faq{
    border-top: solid rgb(216, 225, 233);
    padding-top: 23px;
    padding-right: 500px;
}

.last{
    border-bottom: solid rgb(216, 225, 233);
    padding-bottom: 23px;
}
/* ----------------------------- */

/* FOOTER */